.header{
    display: flex;
    box-sizing: border-box;
    height: 100px;
    width:100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 0px 10px black;    
}
.header .header-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

  
}
.header .header-icons .header-icon{
    width: 100px;
    cursor: pointer;
    text-align: center;   
}
.header .header-icons .header-icon p{
    display: none;
    letter-spacing: 2px;
    text-transform: uppercase;  

}
.header .header-icons .header-icon:hover p{
    display: block;
  
}
.header .header-icons .header-icon .active{
    display: block;

}

.header .header-logo img{
    height: 80px;
}

@media (max-width:730px){
    
    .header{
        padding-top: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .header-logo{
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom: -30px;
    }
    .header{
        height: 120px;       
    }
    .header .header-icons .header-icon{
        width: 89px;
    }
}